@import "tailwindcss";

/* :root {
  --color-fire: #aa4700;
  --color-tenn: #cf5600;
  --color-mineShaft: #2f2f2f;
  --color-alabaster: #f9f9f9;
  --color-wildSand: #f5f5f5;
  --color-woodsmoke: #191919;
  --color-shark: #272727;
}*/

@layer utilities {
  .t-brand {
    @apply text-[#aa4700];
  }
  .t-orange {
    @apply text-[#cf5600];
  }
  .t-light {
    @apply text-[#f9f9f9];
  }
  .t-concrete {
    @apply text-[#f5f5f5];
  }
  .t-blackish {
    @apply text-[#191919];
  }
  .t-blacker {
    @apply text-[#272727];
  }
  .t-graylight {
    @apply text-[#2f2f2f];
  }

  .bg-brand {
    @apply bg-[#aa4700];
  }

  .bg-white {
    @apply bg-[#fff];
  }

  .bg-light {
    @apply bg-[#f9f9f9];
  }
}
