@import "tailwindcss";
/* @import "tailwindcss/preflight"; */
@import "tailwindcss/utilities";

@font-face {
  font-family: 'Open Sans';
  src: url('/src/assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/src/assets/fonts/Open_Sans/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/src/assets/fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/Inter/Inter_24pt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Aclonica";
  src: url("/src/assets/fonts/Aclonica-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-primary: "Open Sans", "sans-serif";
  --font-second: "Inter", "sans-serif";
  --font-third: "Aclonica", "sans-serif";

  --color-brand: "#aa4700";
  --color-orange: "#cf5600";
  --color-graylight: "#2f2f2f";
  --color-light: "#f9f9f9";
  --color-concrete: "#f5f5f5";
  --color-blackish: "#191919";
  --color-blacker: "#272727";
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 16px;
  background-color: var(--color-light);
  color: var(--color-graylight);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}